@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}

*{
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}

a.active{
  @apply border border-accent
}